{% extends 'base.html' %}


{% block nav_class_index %} active {% endblock %}


{% block container %}

    <h6> Дата публикации: {{ article.article_date }} </h6>
    <h3>{{ article.article_title }} </h3>
    <p> {{ article.article_text }} </p>
    <p> Понравилось: {{ article.article_likes }} </p>
    <hr>
    <p>Комментарии:</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}

     <div class="col-lg-offset-1">
        {% for comment in comment %}
            <p>{{ comment.comment_text }}</p>
            <h6>{{ comment.comment_date }} Понравилось: {{ comment.comment_likes }}</h6>
            <hr>
        {% endfor %}
     </div>

     {% if user.username %}
        <form action="/article/addcomment/{{ article.id }}/" method="post">
            {% csrf_token %}
            <table class="table table-responsive">
                 {{ form.as_table }}
            </table>

            <div class="col-sm-offset-6 col-sm-6">
            <input type="Submit" class="btn btn-primary btn-sm" value="Добавить комментарий">
            </div>
        </form>
     {% else %}
         <div class="well well-sm">
          <p> Чтобы иметь возможность комментировать данную статью пройдите, пожалуйста, легкую процедуру
              <a href="{% url 'loginsys:register' %}">регистрации</a></p>
     </div>
    {% endif %}
    <p></p>


{% endblock container %}