{% extends 'base.html' %}

{% block title %} {{ category.name }} {% endblock title %}

{% block nav_class_engineering %} {% ifequal category.name "engineering" %} active {% endifequal %} {% endblock %}
{% block nav_class_programming %} {% ifequal category.name "programming" %} active {% endifequal %} {% endblock %}

{% load django_markdown %}

{% load staticfiles %}

{% block container %}

   <h4> Список статей в категории {{ category.name }} </h4>

    {% for post in posts %}
        <p> {{ post.article_date|date:"d N Y"}}
            <a href="{% url 'articles:article_detail' post.id %}"> {{ post.article_title }} </a></p>

    {% endfor %}

{% endblock container %}